DATABASE_URL=postgresql://postgres.zoqqlmclbcclzmejcmiu:ykbWrbUzIQhfJxgJ@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=10&pool_timeout=15
JWT_SECRET=super-secret-jwt-key-2026-appi-vpn
JWT_REFRESH_SECRET=super-secret-refresh-key-2026-appi-vpn
TELEGRAM_BOT_TOKEN=8914874327:AAFRmyEu4X1EP7NPOoViu6w1sn2-gaOOq2c
BACKEND_URL=http://__ORACLE_IP__:3000
SUB_LINK_BASE_URL=http://__ORACLE_IP__:3000
SUBSCRIPTION_TOKEN=K7vQ-9pL2wX4mZ8n
TELEGRAM_WALLET_USERNAME=AppiVPNBot
CORS_ORIGINS=http://__ORACLE_IP__:3001
